## Set up

import libs

In [3]:
import math
import shutil
import numpy as np
import pandas as pd
import tensorflow as tf

tf.logging.set_verbosity(tf.logging.INFO)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

print tf.__version__

1.12.0

## Data
load and examine the data

In [7]:
df = pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data", 
    sep=",",
    names = ["Sequence", "Start", "End", "Coverage"]
)

In [5]:
df.head()

   M  0.455  0.365  0.095  0.514  0.2245  0.101  0.15  15
0  M    0.3    0.3    0.1    0.2     0.1    0.0   0.1   7
1  F    0.5    0.4    0.1    0.7     0.3    0.1   0.2   9
2  M    0.4    0.4    0.1    0.5     0.2    0.1   0.2  10
3  I    0.3    0.3    0.1    0.2     0.1    0.0   0.1   7
4  I    0.4    0.3    0.1    0.4     0.1    0.1   0.1   8

In [6]:
df.describe()

       0.455  0.365  0.095  0.514  0.2245  0.101   0.15     15
count 4176.0 4176.0 4176.0 4176.0  4176.0 4176.0 4176.0 4176.0
mean     0.5    0.4    0.1    0.8     0.4    0.2    0.2    9.9
std      0.1    0.1    0.0    0.5     0.2    0.1    0.1    3.2
min      0.1    0.1    0.0    0.0     0.0    0.0    0.0    1.0
25%      0.5    0.3    0.1    0.4     0.2    0.1    0.1    8.0
50%      0.5    0.4    0.1    0.8     0.3    0.2    0.2    9.0
75%      0.6    0.5    0.2    1.2     0.5    0.3    0.3   11.0
max      0.8    0.7    1.1    2.8     1.5    0.8    1.0   29.0